
body {
  font-family: alphabet-soup-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  text-align: center;
}


p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 30px;
  margin-bottom: 15px;
  text-align: left;
}

h1 {
  letter-spacing: 10px;
  padding: 30px 0 30px 0;
  color: rgb(252, 107, 4);
  text-shadow: #6e2501 3px 3px 0;
}

h2 {
  text-align: center;
}

#Layer_1:hover {
  transform: rotateX(360deg);
  transition: 2s;
}
